In [1]:
import pandas as pd
import numpy as np

In [15]:
trips = pd.read_csv('dataset/dataset.csv',delimiter=';')
users = pd.read_csv('dataset/users.csv',delimiter=';')
history = pd.read_csv('dataset/history.csv',delimiter=';')

In [14]:
users.head()

   id  age sex   profition
0   1   24   M  technician
1   2   53   F       other
2   3   23   M      writer
3   4   24   M  technician
4   5   33   F       other

In [13]:
trips.head()

,id,company,from_lat,from_lan,to_lat,to_lan,distance,depart,duration,driver_sex,driver_age,price
0,0,1,33.369975,-7.587912,34.229627,-6.528318,136.873942,07:50,47.0,1,0,66.0
1,1,1,33.369975,-7.587912,34.229627,-6.528318,136.873942,07:50,90.0,1,0,50.0
2,2,1,33.369975,-7.587912,34.229627,-6.528318,136.873942,11:50,47.0,1,0,66.0
3,3,1,33.369975,-7.587912,34.229627,-6.528318,136.873942,11:50,90.0,1,0,50.0
4,4,1,33.369975,-7.587912,34.229627,-6.528318,136.873942,16:50,47.0,1,0,66.0

In [16]:
def f(x):
    x = int(x.split(":")[0])
    if (x > 4) and (x <= 8):
        return 1
    elif (x > 8) and (x <= 12 ):
        return 2
    elif (x > 12) and (x <= 16):
        return 3
    elif (x > 16) and (x <= 20) :
        return 4
    elif (x > 20) and (x <= 24):
        return 5
    elif (x <= 4):
        return 0
def g(x):
    if x == 'M':
        return 1
    return 2

def h(x):
    p = ['technician', 'other', 'writer', 'executive', 'administrator',
       'student', 'lawyer', 'educator', 'scientist', 'entertainment',
       'programmer', 'librarian', 'homemaker', 'artist', 'engineer',
       'marketing', 'none', 'healthcare', 'retired', 'salesman', 'doctor']
    for a,b in enumerate(p):
        if x  == b:
            return a

def ff(x):
    if x<30 :
        return 0
    elif x<60:
        return 1
    elif x<90:
        return 2
    else:
        return 3

In [17]:
trips["session"] = trips['depart'].apply(f)

In [18]:
trips = trips.drop(axis=1,columns=['depart','id'])

In [19]:
users['profition'] = users['profition'].apply(h)

In [20]:
users['sex'] = users['sex'].apply(g)

In [21]:
users = users.drop(axis=1,columns=['id'])

In [22]:
rating = {}

rating["00000"] = 1
rating["00001"] = 0
rating["00002"] = 0
rating["00003"] = 0

rating["00010"] = 2
rating["00011"] = 1
rating["00012"] = 0
rating["00013"] = 0

rating["00100"] = 1
rating["00101"] = 0
rating["00102"] = 0
rating["00103"] = 0

rating["00110"] = 1
rating["00111"] = 1
rating["00112"] = 0
rating["00113"] = 0

rating["01000"] = 2
rating["01001"] = 1
rating["01002"] = 0
rating["01003"] = 0

rating["01010"] = 3
rating["01011"] = 2
rating["01012"] = 1
rating["01013"] = 0

rating["01100"] = 2
rating["01101"] = 1
rating["01102"] = 0
rating["01103"] = 0

rating["01110"] = 3
rating["01111"] = 2
rating["01112"] = 1
rating["01113"] = 0

rating["02000"] = 1
rating["02001"] = 0
rating["02002"] = 0
rating["02003"] = 0

rating["02010"] = 3
rating["02011"] = 2
rating["02012"] = 1
rating["02013"] = 0

rating["02100"] = 1
rating["02101"] = 0
rating["02102"] = 0
rating["02103"] = 0

rating["02110"] = 3
rating["02111"] = 2
rating["02112"] = 1
rating["02113"] = 0

rating["10000"] = 3
rating["10001"] = 2
rating["10002"] = 1
rating["10003"] = 0

rating["10010"] = 4
rating["10011"] = 3
rating["10012"] = 2
rating["10013"] = 1

rating["10100"] = 3
rating["10101"] = 2
rating["10102"] = 1
rating["10103"] = 0

rating["10110"] = 4
rating["10111"] = 3
rating["10112"] = 2
rating["10113"] = 1

rating["11000"] = 4
rating["11001"] = 3
rating["11002"] = 2
rating["11003"] = 1

rating["11010"] = 5
rating["11011"] = 4
rating["11012"] = 3
rating["11013"] = 2

rating["11100"] = 4
rating["11101"] = 3
rating["11102"] = 2
rating["11103"] = 1

rating["11110"] = 5
rating["11111"] = 4
rating["11112"] = 3
rating["11113"] = 2

rating["12000"] = 4
rating["12001"] = 3
rating["12002"] = 2
rating["12003"] = 1

rating["12010"] = 5
rating["12011"] = 4
rating["12012"] = 3
rating["12013"] = 2

rating["12100"] = 4
rating["12101"] = 3
rating["12102"] = 2
rating["12103"] = 1

rating["12110"] = 5
rating["12111"] = 4
rating["12112"] = 3
rating["12113"] = 2

history['retard'] = history['retard'].apply(ff)

In [23]:
rt = []
for i in range(len(history)):
    try :
        rt.append([history['user_id'][i],history['trip_id'][i],rating[str(int(history['comfort'][i]))+str(int(history['speed'][i]))+str(int(history['trafic'][i]))+str(int(history['security'][i]))+str(history['retard'][i])]])
    except :
        pass

In [25]:
print(trips.columns,users.columns)

Index(['company', 'from_lat', 'from_lan', 'to_lat', 'to_lan', 'distance',
       'duration', 'driver_sex', 'driver_age', 'price', 'session'],
      dtype='object') Index(['age', 'sex', 'profition'], dtype='object')

In [26]:
X = []
trips = trips.to_numpy()
users = users.to_numpy()
for r in rt:
    X.append(np.concatenate([trips[r[1]],users[r[0]-1]]))

In [41]:
rt[:,2]

array([3, 5, 3, ..., 4, 5, 5], dtype=int64)

In [47]:
data.to_csv("dataset.csv",sep=';',index = False)