we wanna aggregate all datasets in one clean data set 
### columns are : 
company         : 1-ONCF,2-CTM,3-TAXI,4-Covoiturage

from_lat        : latitude of the origine city

from_lan        : langitude of the origine city

to_lat          : latitude of the destination city

to_lan          : langitude of the destination city

distance        : distance between origin and destination

duration        : traveling duration

price           : travling cost

In [1]:
import numpy as np
import requests
import json
from math import sin, cos, sqrt, atan2, radians
import pandas as pd
import re
import datetime
from datetime import timedelta
from sklearn.linear_model import LinearRegression

In [16]:
def getLocationOfCity(city):
    api_key = '966a766bb88e4cb5a5f78ffd9ec99208'
    req = requests.get('https://api.opencagedata.com/geocode/v1/json?q='+city+'&key='+api_key)
    js = json.loads(req.text)
    rep = None
    for res in js['results']:
        if res['formatted'].split(',')[-1] == " Morocco":
            rep = res['geometry'] 
            break
    return rep

In [17]:
def distance(locationA,locationB):
    R = 6373.0

    lat1 = radians(locationA['lat'])
    lon1 = radians(locationA['lng'])
    lat2 = radians(locationB['lat'])
    lon2 = radians(locationB['lng'])

    dlon = lon2 - lon1
    dlat = lat2 - lat1

    a = sin(dlat / 2)**2 + cos(lat1) * cos(lat2) * sin(dlon / 2)**2
    c = 2 * atan2(sqrt(a), sqrt(1 - a))

    distance = R * c
    return distance

In [18]:
oncfDF = pd.read_csv("oncfTrips.csv",delimiter=";",encoding='utf-8')
ctmDF = pd.read_csv("CTMTrips.csv",delimiter=";",encoding='latin-1')
covDF = pd.read_csv("cov.csv",delimiter=",",encoding='latin-1')

In [19]:
cities = list(oncfDF['from'])
cities.extend(list(oncfDF['to']))
cities.extend(list(ctmDF['from']))
cities.extend(list(ctmDF['to']))

In [20]:
cities = list(set(cities))
cities = [city.upper() for city in cities]
cities = list(set(cities))

In [21]:
locations = {}
for city in cities:
    locations[city] = getLocationOfCity(city)

In [22]:
locations['SIDI SLIMANE MEDINA']={'lat': 34.2737827,'lng':-5.9806831}
locations['KELAA  DES  SRAGHNAS']={'lat' :32.0510291,'lng':-7.4206207}
locations['GUELMIMA']={'lat' :31.6844986,'lng':-4.979725}
locations['AEROPORT MED V']={'lat' :33.3699749,'lng':-7.5879118}

In [23]:
def duration(time1,time2):
    FMT = '%H:%M'
    H1 = time1.split(':')[0]
    H2 = time2.split(':')[0]
    date1 = datetime.datetime.strptime(time1,FMT)
    date2 = datetime.datetime.strptime(time2,FMT) 
    if int(H2) < int(H1):
        date2 += timedelta(days=1)
    diff = date2 - date1
    return diff.seconds / 60

In [24]:
tfrom = oncfDF['from']
tto = oncfDF['to']
tdepart = oncfDF['depart_time']
tarrival = oncfDF['arrival_time']
tprice = oncfDF['price']
data = []
# day of the week will be 0 if this trip repeat everyday
for i in range(len(tfrom)):
    data.append([1,locations[tfrom[i].upper()]['lat'],locations[tfrom[i].upper()]['lng'],locations[tto[i].upper()]['lat'],locations[tto[i].upper()]['lng'],
               distance(locations[tfrom[i].upper()],locations[tto[i].upper()]),
               tdepart[i],duration(tdepart[i],tarrival[i]),0,int(tprice[i][:-3])])

In [25]:
tfrom = ctmDF['from']
tto = ctmDF['to']
tdepart = ctmDF['depart_time']
tarrival = ctmDF['arrival_time']
tprice = ctmDF['price']
tprice.fillna((tprice.mean()), inplace=True)
for i in range(len(tfrom)):
    data.append([2,locations[tfrom[i].upper()]['lat'],locations[tfrom[i].upper()]['lng'],locations[tto[i].upper()]['lat'],locations[tto[i].upper()]['lng'],
               distance(locations[tfrom[i].upper()],locations[tto[i].upper()]),
                tdepart[i],duration(tdepart[i],tarrival[i]),0,int(tprice[i])])

In [30]:
def timeFromDate(x):
    return x.split(' ')[1]

def minute(x):
    return  60*int(x.split(':')[0]) + int(x.split(':')[1])

def dayOfWeek(x):
    date = x.split(' ')[0]
    year, month, day = (x for x in date.split('-'))
    if day[-1] == ',':
        day = day[:-1]
    if len(day) == 4:
        tmp = day
        day = year
        year= tmp
    day, month, year = int(day), int(month), int(year)
    return datetime.date(year, month, day).weekday() + 1

In [31]:
print(dayOfWeek("2019-03-20 09:58:00"))

3

In [32]:
# from_lat,from_lon,to_lat,to_lon,distance,duree,date_depart,prix
tfrom_lat = covDF['from_lat']
tfrom_lon = covDF['from_lon']
tto_lat = covDF['to_lat']
tto_lon = covDF['to_lon']
tprice = covDF['prix']
tdistance = covDF['distance']
tduree = covDF['duree']
tdepart = covDF['date_depart']
for i in range(len(tfrom_lat)):
    data.append([3,tfrom_lat[i],tfrom_lon[i],tto_lat[i],tto_lon[i],tdistance[i],timeFromDate(tdepart[i]),minute(tduree[i]),dayOfWeek(tdepart[i]),tprice[i]])

In [33]:
X = np.array([86.9,52.8,59.7,64.2,41.3,78.2,64.7,141]).reshape(-1,1)
y = np.array([63,44,68,48,39,57,54,97])
duration_model = LinearRegression().fit(X, y)
duration_model.score(X, y)

0.8443326971108013

In [34]:
def durationFromLoc(locationA,locationB):
    d = distance(locationA,locationB)
    return duration_model.predict([[d]])[0]

In [35]:
durationFromLoc(locations['MEKNES'],locations['FES'])

45.86008621137471

In [36]:
len(data)

654801

In [37]:
X = np.array([202,54,91,119,60.2,67.5,63.9,24.2,78.1,188,28.8,115,44,126,124,154,85.4,25.3,51,112,128,93.8]).reshape(-1,1)
y = np.array([75,25,35,45,28,25,25,8,35,80,12,50,15,60,55,70,35,10,40,60,50,70])
price_model = LinearRegression().fit(X, y)
price_model.score(X, y)

0.8412497123562451

In [38]:
import random
for a in locations.values():
    for b in locations.values():
        if a!=b:
            data.append([4,a['lat'],a['lng'],b['lat'],b['lng'],distance(a,b),timeFromDate(random.choice(tdepart)),durationFromLoc(a,b),dayOfWeek(random.choice(tdepart)),price_model.predict([[distance(a,b)]])[0]])

In [39]:
len(data)

661603

In [41]:
pd.DataFrame(data).to_csv('trips.csv',sep=';',header=["company" ,"from_lat" ,"from_lan" ,"to_lat" ,"to_lan" ,"distance" ,"depart","duration","dayofweek","price"])

In [42]:
def f(x):
    x = int(x.split(":")[0])
    if (x > 4) and (x <= 8):
        return 1
    elif (x > 8) and (x <= 12 ):
        return 2
    elif (x > 12) and (x <= 16):
        return 3
    elif (x > 16) and (x <= 20) :
        return 4
    elif (x > 20) and (x <= 24):
        return 5
    elif (x <= 4):
        return 0
def g(x):
    if x == 'M':
        return 1
    return 2

def h(x):
    p = ['technician', 'other', 'writer', 'executive', 'administrator',
       'student', 'lawyer', 'educator', 'scientist', 'entertainment',
       'programmer', 'librarian', 'homemaker', 'artist', 'engineer',
       'marketing', 'none', 'healthcare', 'retired', 'salesman', 'doctor']
    for a,b in enumerate(p):
        if x  == b:
            return a

In [46]:
trips = pd.read_csv('../datasources/trips.csv',delimiter=";",encoding='utf-8')
users = pd.read_csv('../datasources/users.csv',delimiter=";",encoding='utf-8')
trips.head()

,id,company,from_lat,from_lan,to_lat,to_lan,distance,depart,duration,dayofweek,price
0,0,1,33.369975,-7.587912,34.229627,-6.528318,136.873942,07:50,47.0,0,66.0
1,1,1,33.369975,-7.587912,34.229627,-6.528318,136.873942,07:50,90.0,0,50.0
2,2,1,33.369975,-7.587912,34.229627,-6.528318,136.873942,11:50,47.0,0,66.0
3,3,1,33.369975,-7.587912,34.229627,-6.528318,136.873942,11:50,90.0,0,50.0
4,4,1,33.369975,-7.587912,34.229627,-6.528318,136.873942,16:50,47.0,0,66.0

In [44]:
trips["session"] = trips['depart'].apply(f)
trips = trips.drop(axis=1,columns=['depart'])
users['profition'] = users['profition'].apply(h)
users['sex'] = users['sex'].apply(g)

In [50]:
trips['distance'].median()

322.2420004

In [44]:
n= np.random.randint(500,701)
dd = trips.sample(n,random_state=1)
for j in range(1,5):
    tmp = dd.loc[dd['company']==j]
    p = len(tmp)
    for k,l in zip(range(p),tmp['id']):
        print(k,l)

0 4218
1 2484
2 2762
3 13050
4 4917
5 1149
6 2636
7 6423
8 3335
9 5430
10 6070
11 5451
12 4034
0 14166
1 15378
2 16795
3 16051
0 371683
1 210123
2 278799
3 344628
4 141821
5 212778
6 76534
7 569443
8 520961
9 395253
10 140514
11 465653
12 547118
13 218421
14 364883
15 583203
16 297712
17 213859
18 382923
19 398085
20 282776
21 310648
22 284141
23 487125
24 591728
25 171942
26 624001
27 649155
28 106587
29 196197
30 106434
31 114621
32 501310
33 412215
34 308463
35 422406
36 601386
37 374680
38 191155
39 640988
40 525500
41 628287
42 417187
43 99045
44 627584
45 393778
46 389818
47 115132
48 610530
49 318747
50 305328
51 429754
52 318253
53 134206
54 155735
55 365574
56 446619
57 137452
58 231421
59 366949
60 623222
61 564411
62 530890
63 232481
64 294341
65 294138
66 392630
67 580606
68 159056
69 498741
70 245911
71 146616
72 250667
73 443487
74 580489
75 266601
76 647208
77 105729
78 445581
79 588013
80 649237
81 356786
82 418072
83 640286
84 417880
85 543056
86 350495
87 202680
88 464557
89 459565
90 618738
91 529439
92 63601
93 46079
94 52521
95 32088
96 402391
97 482787
98 209903
99 473036
100 315945
101 469486
102 190295
103 598594
104 85973
105 282674
106 408845
107 434021
108 187540
109 558871
110 74804
111 617230
112 460310
113 199788
114 385442
115 204786
116 502758
117 355668
118 446389
119 526912
120 550003
121 175193
122 242643
123 645222
124 487906
125 531660
126 475996
127 380951
128 633022
129 513964
130 385283
131 207231
132 35884
133 363238
134 172451
135 381851
136 248921
137 316026
138 371435
139 608948
140 294642
141 285528
142 375019
143 618597
144 138698
145 381081
146 491112
147 242851
148 417026
149 389531
150 514456
151 87239
152 266421
153 386848
154 381178
155 541548
156 194204
157 221080
158 457148
159 186700
160 152600
161 536820
162 605728
163 113952
164 532779
165 52412
166 319759
167 103375
168 68192
169 368890
170 279589
171 433679
172 466413
173 432538
174 512638
175 445031
176 339186
177 421477
178 550882
179 627187
180 510936
181 583134
182 192382
183 285034
184 25199
185 345270
186 45595
187 186683
188 550684
189 243236
190 361001
191 604279
192 440663
193 345671
194 100502
195 617570
196 121419
197 31480
198 72074
199 215602
200 63154
201 582834
202 443459
203 291766
204 105555
205 552529
206 606333
207 526913
208 350153
209 135557
210 654429
211 45516
212 65822
213 558422
214 465217
215 232347
216 182687
217 619634
218 518499
219 136565
220 652406
221 144165
222 465592
223 313143
224 528291
225 184471
226 348247
227 281312
228 54510
229 305487
230 41362
231 322070
232 518510
233 213794
234 88728
235 429770
236 126279
237 547601
238 552083
239 48224
240 189462
241 539899
242 381431
243 575740
244 237160
245 628062
246 92142
247 243731
248 283817
249 459617
250 225064
251 117234
252 59341
253 389703
254 165079
255 526212
256 196731
257 529473
258 160775
259 448536
260 530557
261 336428
262 181391
263 137512
264 64587
265 145929
266 40139
267 91155
268 297414
269 403722
270 294683
271 65563
272 297598
273 455667
274 192458
275 359763
276 115319
277 652941
278 523630
279 119077
280 73806
281 272466
282 80267
283 469028
284 304718
285 85766
286 541231
287 553852
288 84997
289 609651
290 360361
291 342252
292 608977
293 344155
294 189883
295 627582
296 472692
297 581088
298 226802
299 108508
300 228654
301 73233
302 249503
303 479400
304 647607
305 612348
306 394958
307 254043
308 238329
309 609043
310 428611
311 305259
312 452447
313 120970
314 286974
315 103873
316 462199
317 157585
318 288248
319 24721
320 324988
321 594498
322 613906
323 155725
324 51938
325 438352
326 523640
327 649465
328 433917
329 648176
330 124741
331 386537
332 315855
333 561449
334 169630
335 634880
336 339808
337 498151
338 435422
339 279790
340 642415
341 533886
342 90973
343 68388
344 620166
345 495544
346 94973
347 489428
348 242417
349 284344
350 139990
351 413055
352 161502
353 82377
354 208033
355 432157
356 551244
357 516843
358 576383
359 54101
360 124662
361 522679
362 605477
363 475032
364 45508
365 354160
366 211232
367 434556
368 515110
369 136774
370 210563
371 604996
372 598903
373 198283
374 317849
375 366894
376 152492
377 438702
378 478547
379 653916
380 26721
381 597526
382 58961
383 344117
384 83701
385 650555
386 48809
387 448661
388 104112
389 541250
390 186457
391 42496
392 365151
393 509609
394 430191
395 88454
396 337530
397 139100
398 578355
399 459839
400 381768
401 642689
402 391301
403 40984
404 270319
405 440901
406 305636
407 170966
408 519297
409 106838
410 534906
411 270745
412 460316
413 109128
414 568825
415 326758
416 650404
417 529948
418 380421
419 223985
420 234140
421 370413
422 80752
423 538498
424 544634
425 252505
426 390194
427 413682
428 147649
429 403735
430 324650
431 484565
432 25867
433 197721
434 77664
435 273129
436 411771
437 513720
438 214084
439 545274
440 33540
441 201743
442 238108
443 369686
444 92063
445 382239
446 471466
447 556687
448 513737
449 428726
450 506966
451 95292
452 72984
453 407099
454 650795
455 650110
456 194654
457 600018
458 469854
459 565643
460 442723
461 461512
462 228209
463 618041
464 430400
465 67846
466 106686
467 65719
468 72215
469 190457
470 304392
471 137353
472 259002
473 115040
474 296172
475 406758
476 114495
477 431156
478 388327
479 254775
480 601519
481 504402
482 166792
483 79391
484 95522
485 493520
486 451509
487 559011
488 166973
489 591020
490 116511
491 407436
492 192508
493 478989
494 98375
495 217364
496 228167
497 497914
498 312736
499 458783
500 151984
501 335310
502 154853
503 186835
504 396705
505 441430
506 611563
507 546835
508 95544
509 322670
510 27019
511 182618
512 470481
513 124895
514 525952
515 598268
516 620285
517 174621
518 447632
519 83891
520 369909
521 491483
522 511903
523 79533
524 266936
525 229252
526 201920
527 61574
528 351864
529 122744
530 255619
531 217183
532 605131
533 34059
534 553065
535 467160
536 500278
537 299279
538 588769
539 435574
540 340635
541 121386
542 398514
543 490842
544 554280
545 202769
546 112818
547 492342
548 266501
549 94312
550 78713
551 234729
552 157950
553 624296
554 107551
555 211310
556 426750
557 249825
558 610948
559 56517
560 130404
561 241746
562 66400
563 576122
564 354145
565 549582
566 175178
567 125930
568 235559
569 374118
570 268187
571 516899
572 364156
573 362454
574 436669
0 654805
1 657156
2 654993
3 659023

In [52]:
hist = []
m = len(users)
for i in range(m):
    dd = trips.sample(1000,random_state=1)
    for j in range(1,5):
        tmp = dd.loc[dd['company']==j]
        p = len(tmp)
        if j == 1:
            security = np.full(shape=p,fill_value=1)
            trafic = np.full(shape=p,fill_value=0)
            retard = np.round(np.random.normal(0.3, 0.1, p) * 60)
        else :
            security = np.round(np.random.normal(0.55, 0.1, p) * 1)
            retard = np.round(np.random.normal(0.3, 0.1, p) * 120)
            trafic = []
            for l in tmp['id']:
                if tmp['dayofweek'][l] == 0:
                    trafic.append(random.randint(0,2))
                if tmp['dayofweek'][l] >=5:
                    trafic.append(1)
                else :
                    trafic.append(0)
        acc = []
        for k,l in zip(range(p),tmp['id']):
            if trafic[k] == 0 and tmp['distance'][l] < 320:
                acc.append(0)
            else :
                acc.append(1)       
        for k,l in zip(range(p),tmp['id']):
            hist.append([users['id'][i],tmp['id'][l],trafic[k],security[k],retard[k],acc[k]])

In [53]:
pd.DataFrame(hist).to_csv('history.csv',sep=';',header=["user_id","trip_id","trafic","security","retard","accident"],index= False)

In [54]:
hist = pd.read_csv('history.csv',delimiter=";",encoding='utf-8')

In [27]:
len(hist)

943000

In [22]:
trips = pd.read_csv('../datasources/trips.csv',delimiter=';')
users = pd.read_csv('../datasources/users.csv',delimiter=';')
history = pd.read_csv('../datasources/history.csv',delimiter=';')
len(history)

943000

In [23]:
def f(x):
    x = int(x.split(":")[0])
    if (x > 4) and (x <= 8):
        return 1
    elif (x > 8) and (x <= 12 ):
        return 2
    elif (x > 12) and (x <= 16):
        return 3
    elif (x > 16) and (x <= 20) :
        return 4
    elif (x > 20) and (x <= 24):
        return 5
    elif (x <= 4):
        return 0
def g(x):
    if x == 'M':
        return 1
    return 2

def h(x):
    p = ['technician', 'other', 'writer', 'executive', 'administrator',
       'student', 'lawyer', 'educator', 'scientist', 'entertainment',
       'programmer', 'librarian', 'homemaker', 'artist', 'engineer',
       'marketing', 'none', 'healthcare', 'retired', 'salesman', 'doctor']
    for a,b in enumerate(p):
        if x  == b:
            return a

def ff(x):
    if x<30 :
        return 0
    elif x<60:
        return 1
    elif x<90:
        return 2
    else:
        return 3

In [24]:
trips.head()

,id,company,from_lat,from_lan,to_lat,to_lan,distance,depart,duration,dayofweek,price
0,0,1,33.369975,-7.587912,34.229627,-6.528318,136.873942,07:50,47.0,0,66.0
1,1,1,33.369975,-7.587912,34.229627,-6.528318,136.873942,07:50,90.0,0,50.0
2,2,1,33.369975,-7.587912,34.229627,-6.528318,136.873942,11:50,47.0,0,66.0
3,3,1,33.369975,-7.587912,34.229627,-6.528318,136.873942,11:50,90.0,0,50.0
4,4,1,33.369975,-7.587912,34.229627,-6.528318,136.873942,16:50,47.0,0,66.0

In [25]:
trips["session"] = trips['depart'].apply(f)

In [26]:
trips = trips.drop(axis=1,columns=['depart','id'])

In [27]:
users['profition'] = users['profition'].apply(h)

In [28]:
users['sex'] = users['sex'].apply(g)

In [29]:
users = users.drop(axis=1,columns=['id'])
history['retard'] = history['retard'].apply(ff)

In [30]:
trips.head()

,company,from_lat,from_lan,to_lat,to_lan,distance,duration,dayofweek,price,session
0,1,33.369975,-7.587912,34.229627,-6.528318,136.873942,47.0,0,66.0,1
1,1,33.369975,-7.587912,34.229627,-6.528318,136.873942,90.0,0,50.0,1
2,1,33.369975,-7.587912,34.229627,-6.528318,136.873942,47.0,0,66.0,2
3,1,33.369975,-7.587912,34.229627,-6.528318,136.873942,90.0,0,50.0,2
4,1,33.369975,-7.587912,34.229627,-6.528318,136.873942,47.0,0,66.0,3

In [31]:
rating = {}

rating["0000"] =  5
rating["0001"] =  4
rating["0010"] =  5
rating["0011"] =  5
rating["0100"] =  4
rating["0101"] =  3
rating["0110"] =  4
rating["0111"] =  3
rating["0200"] =  3
rating["0201"] =  2
rating["0210"] =  3
rating["0211"] =  2
rating["0300"] =  2
rating["0301"] =  1
rating["0310"] =  2
rating["0311"] =  1
rating["1000"] =  3
rating["1001"] =  2
rating["1010"] =  3
rating["1011"] =  2
rating["1100"] =  2
rating["1101"] =  1 
rating["1110"] =  2
rating["1111"] =  1
rating["1200"] =  1
rating["1201"] =  0
rating["1210"] =  1
rating["1211"] =  0
rating["1300"] =  0
rating["1301"] =  0
rating["1310"] =  0
rating["1311"] =  0

In [32]:
rt = []
for i in range(len(history)):
    try :
        rt.append([history['user_id'][i],history['trip_id'][i],history['accident'][i],history['retard'][i],history['security'][i],history['trafic'][i],rating[str(int(history['accident'][i]))+str(int(history['retard'][i]))+str(int(history['security'][i]))+str(int(history['trafic'][i]))]])
    except :
        print(i,'err')
        pass

2020 err
3020 err
5020 err
5024 err
7022 err
7024 err
7026 err
8022 err
9022 err
9026 err
10020 err
10024 err
11024 err
12020 err
12024 err
13020 err
14020 err
14022 err
14026 err
15020 err
15022 err
15026 err
18020 err
18026 err
19026 err
20020 err
20024 err
21024 err
22024 err
23022 err
23024 err
24022 err
25020 err
25022 err
26020 err
26024 err
29020 err
29022 err
30026 err
34022 err
35024 err
36024 err
36026 err
37022 err
37024 err
38020 err
38024 err
38026 err
39022 err
39026 err
40020 err
40022 err
40024 err
41024 err
42020 err
42022 err
42024 err
43024 err
43026 err
44026 err
45026 err
46024 err
47022 err
47026 err
48026 err
49026 err
50020 err
51022 err
52024 err
53022 err
53026 err
54022 err
55024 err
57020 err
60020 err
60026 err
61022 err
62022 err
62024 err
63022 err
63026 err
64022 err
64026 err
65024 err
65026 err
66020 err
66024 err
67022 err
67024 err
67026 err
68020 err
68022 err
68024 err
69020 err
70024 err
70026 err
71024 err
72022 err
72024 err
72026 err
73022 err
73024 err
74024 err
76020 err
76024 err
76026 err
77020 err
77022 err
77024 err
78024 err
79020 err
80026 err
83022 err
84020 err
85020 err
86022 err
86024 err
86026 err
87020 err
88020 err
88022 err
88026 err
89026 err
90022 err
90026 err
91022 err
93020 err
93022 err
93024 err
93026 err
94026 err
95022 err
96020 err
96022 err
97022 err
97024 err
98022 err
99022 err
101022 err
102024 err
103022 err
103024 err
103026 err
104020 err
104022 err
104026 err
105022 err
105024 err
105026 err
106022 err
107024 err
108022 err
108024 err
109020 err
109026 err
110022 err
110026 err
111022 err
111024 err
112022 err
113022 err
114020 err
115024 err
115026 err
116022 err
116026 err
117022 err
118026 err
121026 err
124026 err
126024 err
127020 err
127024 err
127026 err
128020 err
128026 err
130020 err
130022 err
131022 err
131024 err
132024 err
132026 err
136022 err
137024 err
140024 err
141020 err
141024 err
142020 err
143020 err
144020 err
144022 err
144024 err
145020 err
145022 err
145024 err
145026 err
146020 err
146022 err
146024 err
146026 err
147020 err
147022 err
148022 err
148024 err
149020 err
149022 err
149026 err
150022 err
151020 err
151022 err
151026 err
152026 err
154026 err
155020 err
156024 err
156026 err
157024 err
158020 err
159024 err
159026 err
160020 err
160022 err
160026 err
161020 err
161026 err
162024 err
162026 err
163022 err
163026 err
164022 err
164024 err
165020 err
165026 err
166022 err
167020 err
167022 err
168024 err
168026 err
169022 err
170020 err
170024 err
171024 err
171026 err
172026 err
173020 err
175020 err
175022 err
177026 err
178026 err
179024 err
179026 err
181024 err
184020 err
184024 err
185020 err
185022 err
185026 err
187024 err
188024 err
188026 err
189026 err
190020 err
190024 err
192022 err
193024 err
193026 err
195020 err
195022 err
196022 err
197022 err
197024 err
198022 err
199020 err
200020 err
200022 err
201022 err
201024 err
202020 err
202024 err
203024 err
204024 err
205020 err
205026 err
206020 err
206022 err
206024 err
207020 err
207024 err
209020 err
209026 err
211022 err
212026 err
215020 err
218020 err
218022 err
218024 err
218026 err
220020 err
221024 err
222022 err
222024 err
223022 err
223026 err
225026 err
226024 err
228020 err
228024 err
229020 err
229026 err
230022 err
230024 err
230026 err
232022 err
233026 err
236022 err
236024 err
236026 err
237020 err
237026 err
238020 err
239020 err
241022 err
241024 err
241026 err
242024 err
242026 err
243020 err
243026 err
244020 err
244022 err
244024 err
245020 err
245022 err
246024 err
247020 err
247026 err
248020 err
248022 err
248026 err
249022 err
249024 err
250020 err
251020 err
251024 err
251026 err
252020 err
252022 err
252024 err
253020 err
253026 err
254026 err
255020 err
256020 err
256024 err
258024 err
259026 err
261022 err
262020 err
262024 err
262026 err
263026 err
264022 err
265024 err
266020 err
266026 err
267024 err
267026 err
268020 err
268022 err
268024 err
270020 err
270022 err
271024 err
271026 err
272020 err
272022 err
272024 err
274026 err
275020 err
275024 err
276022 err
276024 err
276026 err
277020 err
278020 err
279020 err
279024 err
280020 err
280022 err
281024 err
281026 err
283020 err
283022 err
283024 err
284024 err
285024 err
285026 err
286020 err
287020 err
288026 err
290022 err
290024 err
291020 err
291026 err
292024 err
293020 err
293024 err
293026 err
295026 err
298020 err
298026 err
299024 err
299026 err
300022 err
300024 err
301020 err
301024 err
303022 err
303026 err
304022 err
304026 err
305024 err
307024 err
308022 err
308026 err
309020 err
309024 err
309026 err
310024 err
310026 err
312022 err
312024 err
312026 err
313022 err
313026 err
314022 err
314026 err
316020 err
316022 err
316024 err
317024 err
318024 err
319020 err
319022 err
319026 err
320022 err
320026 err
321022 err
323026 err
324020 err
324022 err
324024 err
325026 err
326026 err
327020 err
328024 err
329026 err
331020 err
331022 err
332026 err
333020 err
334022 err
335026 err
336024 err
336026 err
337020 err
337026 err
338022 err
338026 err
339020 err
339024 err
340022 err
340026 err
341026 err
342020 err
342024 err
344020 err
345024 err
346020 err
347022 err
348020 err
348022 err
349020 err
351022 err
351024 err
351026 err
353026 err
354022 err
356022 err
356024 err
356026 err
358024 err
358026 err
359020 err
359024 err
362020 err
362026 err
363024 err
364022 err
365020 err
366020 err
367020 err
369020 err
369026 err
370022 err
370024 err
370026 err
371024 err
371026 err
372020 err
373022 err
374022 err
374026 err
375020 err
375022 err
375026 err
376020 err
376022 err
376024 err
377022 err
378024 err
379020 err
380020 err
380024 err
381022 err
382020 err
383020 err
383024 err
384022 err
385024 err
388022 err
388026 err
390022 err
390024 err
390026 err
391020 err
391022 err
392020 err
392026 err
393020 err
393022 err
393024 err
394026 err
395024 err
396022 err
396026 err
397026 err
398022 err
398024 err
399022 err
399024 err
400026 err
401020 err
401024 err
402024 err
403024 err
404022 err
404026 err
406020 err
406024 err
406026 err
407020 err
407022 err
408026 err
409022 err
409024 err
410020 err
411020 err
413020 err
413022 err
413024 err
413026 err
414024 err
414026 err
416026 err
417022 err
417026 err
419022 err
419024 err
420024 err
420026 err
421022 err
422022 err
422026 err
423024 err
424022 err
425020 err
425022 err
426022 err
426026 err
427020 err
427024 err
430020 err
430024 err
431020 err
431024 err
432024 err
435022 err
435026 err
436020 err
436022 err
437020 err
437026 err
438020 err
438024 err
439020 err
440020 err
443026 err
444026 err
445022 err
445026 err
448022 err
450020 err
451022 err
451024 err
452022 err
453022 err
454020 err
454022 err
454024 err
454026 err
456020 err
458026 err
460026 err
464022 err
464026 err
465022 err
465026 err
466024 err
468024 err
471024 err
472024 err
473020 err
474022 err
475022 err
475026 err
476024 err
477026 err
478024 err
478026 err
480024 err
481022 err
481024 err
481026 err
483022 err
483024 err
484026 err
486024 err
486026 err
487026 err
488026 err
489020 err
490020 err
490022 err
491022 err
491026 err
492026 err
493022 err
493026 err
495020 err
495024 err
498020 err
500020 err
500026 err
501020 err
501024 err
502020 err
502024 err
503020 err
504020 err
504022 err
505020 err
505024 err
505026 err
506022 err
506026 err
507020 err
507026 err
510020 err
510022 err
511024 err
512020 err
512022 err
512026 err
513022 err
513024 err
513026 err
514022 err
514026 err
515022 err
516020 err
516022 err
517026 err
518020 err
518024 err
519024 err
521020 err
522020 err
523020 err
523026 err
524024 err
524026 err
525022 err
526026 err
527026 err
528020 err
528022 err
528024 err
528026 err
529026 err
530022 err
530024 err
531022 err
532022 err
532026 err
536026 err
537024 err
537026 err
538026 err
539024 err
540022 err
540026 err
541024 err
543020 err
543024 err
543026 err
544022 err
546024 err
546026 err
547020 err
547022 err
547024 err
549024 err
549026 err
550020 err
550026 err
552024 err
552026 err
553020 err
554020 err
554022 err
554026 err
556020 err
556022 err
556024 err
557024 err
558022 err
558024 err
560022 err
560024 err
561020 err
563024 err
565020 err
565024 err
566022 err
566026 err
567026 err
569022 err
569026 err

570020 err
570022 err
571020 err
572022 err
572026 err
574024 err
574026 err
575022 err
575024 err
575026 err
577022 err
578020 err
578022 err
580024 err
581024 err
582026 err
583020 err
583022 err
583024 err
584020 err
584026 err
585022 err
585024 err
586026 err
587022 err
587024 err
587026 err
588024 err
588026 err
589022 err
590020 err
590022 err
590024 err
590026 err
592026 err
593024 err
595024 err
595026 err
596022 err
597020 err
597022 err
597024 err
599024 err
600020 err
600024 err
601024 err
601026 err
602026 err
603022 err
604024 err
605020 err
605022 err
605026 err
606022 err
606024 err
606026 err
607020 err
607024 err
608022 err
608024 err
610022 err
610024 err
610026 err
613022 err
614022 err
614026 err
615020 err
615022 err
616024 err
617024 err
618026 err
619024 err
620020 err
622022 err
623020 err
624020 err
624026 err
627026 err
628026 err
630020 err
630024 err
631022 err
632020 err
633024 err
634026 err
636020 err
637024 err
638022 err
638026 err
639020 err
639022 err
640020 err
640024 err
641020 err
642020 err
644022 err
645020 err
645022 err
646022 err
646026 err
647020 err
648020 err
648026 err
649026 err
650022 err
650026 err
651020 err
652022 err
654024 err
654026 err
655024 err
656022 err
656024 err
657020 err
657024 err
657026 err
658020 err
658024 err
658026 err
659022 err
659024 err
659026 err
660020 err
660026 err
662022 err
662024 err
663026 err
665022 err
668020 err
668024 err
668026 err
669022 err
671022 err
672020 err
672026 err
674022 err
674026 err
677020 err
677022 err
677026 err
678026 err
680020 err
680022 err
681026 err
682026 err
683020 err
684024 err
684026 err
685022 err
688022 err
688026 err
689020 err
689026 err
690020 err
690024 err
692024 err
692026 err
693020 err
694022 err
694026 err
697020 err
697026 err
699020 err
699022 err
699026 err
700020 err
700022 err
700026 err
701022 err
701026 err
702024 err
704020 err
705022 err
705024 err
705026 err
706024 err
708022 err
708026 err
709022 err
711024 err
714020 err
716020 err
716022 err
716026 err
719026 err
720024 err
720026 err
722022 err
722024 err
723022 err
723024 err
724020 err
724022 err
725020 err
726026 err
729024 err
730024 err
730026 err
731024 err
732022 err
732024 err
733022 err
735020 err
735026 err
736024 err
736026 err
737022 err
738020 err
740020 err
740024 err
743020 err
744022 err
744026 err
745022 err
746020 err
746026 err
747024 err
748022 err
750024 err
751022 err
751024 err
752020 err
753020 err
753024 err
754020 err
754024 err
755020 err
757026 err
758026 err
759020 err
760022 err
760026 err
761026 err
762020 err
763026 err
764026 err
765024 err
766020 err
766022 err
766026 err
767026 err
768020 err
768024 err
768026 err
769022 err
769024 err
769026 err
770020 err
771022 err
771026 err
773024 err
774020 err
774026 err
775024 err
776020 err
776022 err
777020 err
777022 err
777026 err
778020 err
778022 err
778024 err
778026 err
779020 err
779022 err
779024 err
780022 err
781022 err
781026 err
783026 err
784022 err
784026 err
785024 err
785026 err
786020 err
787020 err
787022 err
787024 err
788022 err
789022 err
789024 err
790024 err
791020 err
792020 err
792022 err
792026 err
793024 err
793026 err
794026 err
795024 err
795026 err
796020 err
796022 err
796024 err
797020 err
797022 err
798026 err
799024 err
799026 err
800024 err
800026 err
801020 err
801024 err
803020 err
803022 err
804024 err
805022 err
806024 err
808020 err
808024 err
809026 err
810020 err
810024 err
811020 err
812022 err
812026 err
813020 err
813022 err
814020 err
814022 err
816024 err
817020 err
817022 err
818020 err
818022 err
818026 err
819024 err
819026 err
820022 err
822020 err
822022 err
823022 err
823024 err
824022 err
825022 err
825026 err
827020 err
828026 err
830024 err
830026 err
831022 err
831026 err
832024 err
832026 err
834022 err
835022 err
835024 err
835026 err
836024 err
837020 err
837022 err
837024 err
837026 err
838020 err
838026 err
839024 err
839026 err
840020 err
840026 err
841020 err
841024 err
841026 err
842020 err
842022 err
843020 err
843022 err
843024 err
843026 err
844020 err
844022 err
845020 err
845024 err
845026 err
847020 err
847026 err
848020 err
848022 err
848024 err
849022 err
849024 err
849026 err
850020 err
850022 err
850024 err
852020 err
853020 err
853024 err
854022 err
855024 err
856020 err
856026 err
857024 err
858022 err
858026 err
859024 err
860020 err
860022 err
861022 err
861026 err
862022 err
862024 err
864020 err
864022 err
865020 err
865022 err
865024 err
865026 err
866022 err
866026 err
867026 err
868024 err
869020 err
869024 err
870022 err
871026 err
873020 err
874026 err
875020 err
876024 err
876026 err
878022 err
878026 err
879020 err
880022 err
881020 err
883022 err
884022 err
884024 err
885020 err
885022 err
887020 err
887022 err
887024 err
887026 err
888022 err
889022 err
891026 err
892020 err
892022 err
893020 err
894022 err
894026 err
895022 err
895024 err
896022 err
897024 err
898020 err
898022 err
902026 err
903024 err
903026 err
904020 err
906026 err
907022 err
908020 err
909022 err
911020 err
911022 err
912020 err
914020 err
915024 err
916020 err
917020 err
918020 err
920022 err
920026 err
921022 err
921026 err
923022 err
923026 err
924020 err
924022 err
925024 err
927020 err
927022 err
928026 err
930024 err
930026 err
932020 err
932026 err
934026 err
935020 err
935026 err
936024 err
936026 err
937020 err
937022 err
937024 err
937026 err
938022 err
938024 err
939020 err
939022 err
939024 err
940026 err
941024 err
942020 err
942022 err
942026 err

In [33]:
X = []
trips = trips.to_numpy()
users = users.to_numpy()
for r in rt:
    X.append(np.concatenate([trips[r[1]],users[r[0]-1],r[2:-1]]))

In [21]:
trips[1]

array([  1.        ,  33.3699749 ,  -7.5879118 ,  34.2296268 ,
        -6.528318  , 136.87394176,  90.        ,   0.        ,
        50.        ,   1.        ])

In [34]:
data = pd.DataFrame(X,columns=['company', 'from_lat', 'from_lan', 'to_lat', 'to_lan', 'distance',
       'duration','dayofweek','price','session','age', 'gender', 'profission','accident','retard','security','trafic'])

In [35]:
data['rating'] = np.array(rt)[:,-1]

In [36]:
len(data)

941742

In [37]:
data.to_csv("dataset.csv",sep=';',index = False)

In [39]:
data.columns

Index(['company', 'from_lat', 'from_lan', 'to_lat', 'to_lan', 'distance',
       'duration', 'dayofweek', 'price', 'session', 'age', 'gender',
       'profission', 'accident', 'retard', 'security', 'trafic', 'rating'],
      dtype='object')